{% extends "layout.njk" %}

{% block head %}
    <title>{{item.title}}</title>
{% endblock %}

{% block content %}
    <main>
        <div class=" my-5 text-center">
            <h1 class=" video text-white title">{{item.title}}</h1>
        </div>

        <div class=" video text-white">

            <div class=" kard" id="{{item.id}}">
                <div class="kard-video-container">
                    <iframe src="https://www.youtube.com/embed/{{item.id}}" frameborder="0"></iframe>
                </div>
                <div class=" kard-content">
                    <p>{{item.title}}</p>
                </div>
                <div class=" kard-info">
                    <p>{{item.duration}}</p>
                    <p class=" kard-price">{{item.price}}</p>
                </div>
            </div>

        </div>
    </main>
{% endblock %}